.libs/
.svnignore
.deps
*.lo
*.la
Makefile*
acinclude.m4
aclocal.m4
autom4te.cache/
build/
config.guess
config.h*
config.sub
config.log
config.nice
config.status
configure
configure.in
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
modules/
run-tests.php
*.net
